.divheader {
  background-color: #ff4040;
  text-align: center;
}







.divmenulinks {
  background-color: #00e5ff;
  text-align: center;
}










.divcopyright {
  background-color: #11fc00;
  text-align: center;
}






